@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'HomePage';

.#{$name} {
  width: 100%;

  &__about {
    padding-top: 0;
  }

  &__bubbles {
    padding-top: 0;
  }

  &__map {
    padding-bottom: 0;
  }
}

@media (max-width: $small-screen-end) {
  .#{$name} {
    &__waves {
      padding-top: 3rem;
    }

    &__experience {
      padding-top: 3rem;
    }

    &__contact {
      padding-top: 3rem;
    }

    &__map {
      padding-top: 3rem;
    }
  }
}

@media (min-width: $medium-screen-start) and (max-width: $medium-screen-end) {
  .#{$name} {
    &__waves {
      padding-top: 4rem;
    }

    &__experience {
      padding-top: 4rem;
    }

    &__contact {
      padding-top: 4rem;
    }

    &__map {
      padding-top: 4rem;
    }
  }
}

@media (min-width: $large_screen_start) {
  .#{$name} {
    &__waves {
      padding-top: 5rem;
    }

    &__experience {
      padding-top: 5rem;
    }

    &__contact {
      padding-top: 5rem;
    }

    &__map {
      padding-top: 5rem;
    }
  }
}
