@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'AboutSection';

.#{$name} {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem $app-vertical-margins;
  color: $white;

  &__spacer {
    flex: 1;
    max-width: 12rem;
    min-width: 4rem;
  }

  &__name {
    margin: 2rem 0;
    font-size: 6rem;
    font-style: italic;
  }

  &__title {
    font-size: 2rem;

    &--1 {
      color: $purple;
    }

    &--2 {
      margin-bottom: 2rem;
      font-weight: 300;
      opacity: 0.9;
    }
  }

  &__statement {
    margin-bottom: 3rem;
    max-width: 30rem;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.0625rem;
    opacity: 0.9;
  }

  &__picture {
    position: relative;
    width: 30rem;
    height: 30rem;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      width: 20rem;
      height: 26rem;
      border-radius: 1rem;
      border: none;
      outline: none;

      &:nth-child(1) {
        transform: translate(-40%, -45%) rotate(15deg);

        &::before {
          background-image: linear-gradient($purple_l_20, $black);
        }
      }

      &:nth-child(2) {
        transform: translate(-60%, -45%) rotate(-7.5deg);

        &::before {
          background-image: linear-gradient($purple_l_10, $black);
        }
      }

      &:nth-child(3) {
        transform: translate(-50%, -35%) rotate(7.5deg);

        &::before {
          background-image: linear-gradient($purple, $black);
        }
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    .#{$name} {
      &__floating-symbol {
        position: absolute;
        color: $purple_l_10;
        font-size: 6rem;
        font-weight: 400;

        &--1 {
          top: 5rem;
          left: -2rem;
        }

        &--2 {
          bottom: 2rem;
          right: 0;
        }

        &--3 {
          width: 3rem;
          top: -1rem;
          left: -5rem;

          svg {
            fill: $purple_l_10;
          }
        }
      }
    }
  }
}
