@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'ExperienceSection';

$card-border-width: calc(var(--app-vertical-margins) / 2);
$card-border: $card-border-width solid $black;

.#{$name} {
  box-sizing: border-box;
  width: 100%;

  &__header {
    padding: 0 var(--app-vertical-margins);
  }

  &__title {
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: $purple_l_20;
  }

  &__subtitle {
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: $white;
  }

  &__bar {
    height: 0.0625rem;
    background-color: $white_a_50;
  }

  &__carousel {
    padding: 0 $card-border-width;
    overflow: hidden;

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      margin: 1.75rem auto 0 auto;
      height: 2.25rem;
      width: 17rem;
      border: 0.0625rem solid $white_a_25;
      border-radius: 1.125rem;
    }

    &-button {
      margin: 0;
      padding: 0;
      height: 1rem;
      width: 3rem;
      outline: none;
      border: 0.25rem solid $black;
      border-radius: 0.5rem;
      background: $white;
      transition: 200ms ease-out;

      &:active {
        background: $purple_l_10;
      }

      &--selected {
        background: $purple;
        width: 5rem;
      }
    }
  }

  &__cards {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__card {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 0;
    max-width: 30rem;
    border-left: $card-border;
    border-right: $card-border;
    background: $purple;
    background-image: radial-gradient(137.98% 137.98% at 24.23% 20.46%, $purple 16.15%, #49deff 100%);
    overflow: hidden;
  }

  &__card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.03125rem;
    color: $white;
  }

  &__bubble-text {
    position: absolute;
    width: fit-content;
    line-height: 1;
    background: $white;
    color: white;
    font-weight: 600;

    &:nth-child(1) {
      left: 20%;
    }

    &:nth-child(2) {
      left: 50%;
    }

    &:nth-child(3) {
      left: 30%;
    }
  }

  &__dev-screen {
    &-inner {
      position: absolute;
      border-radius: 0.75rem;
      background: radial-gradient(
        115.98% 115.98% at -37.96% -29%,
        $purple 0%,
        rgba(223, 211, 244, 0.728125) 30.21%,
        rgba(255, 255, 255, 0.1) 100%
      );
    }

    &-outer {
      position: absolute;
      border-radius: 0.75rem;
      background: radial-gradient(
        115.98% 115.98% at -37.96% -29%,
        $purple 0%,
        rgba(223, 211, 244, 0.728125) 30.21%,
        rgba(255, 255, 255, 0.1) 100%
      );
    }
  }

  &__project-grid {
    position: absolute;
    display: flex;
    flex-wrap: wrap;

    &-box {
      border-radius: 0.75rem;
      background: radial-gradient(
        115.98% 115.98% at -37.96% -29%,
        $purple 0%,
        rgba(223, 211, 244, 0.728125) 30.21%,
        rgba(255, 255, 255, 0.1) 100%
      );
    }
  }

  &__seek-logo {
    position: absolute;
  }
}

@media (max-width: $small-screen-end) {
  .#{$name} {
    &__title {
      margin-bottom: 0.25rem;
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 1.125rem;

      &--2 {
        margin-bottom: 1.125rem;
      }
    }

    &__bar {
      margin-bottom: 1.5rem;
      width: 18rem;
    }

    &__card {
      height: 20rem;
    }

    &__card-title {
      padding: 1.75rem 1rem;
      font-size: 1.625rem;
    }

    &__bubble-text {
      padding: 0.375rem 1.75rem;
      font-size: 2rem;
      border-radius: 2rem;
      -webkit-text-stroke: 0.0625rem $black;

      &:nth-child(1) {
        top: 3rem;
      }

      &:nth-child(2) {
        top: 7rem;
      }

      &:nth-child(3) {
        top: 11rem;
      }
    }

    &__dev-screen {
      &-inner {
        top: 3rem;
        width: 6.25rem;
        height: 10.5rem;
      }

      &-outer {
        top: 2.5rem;
        width: 7.25rem;
        height: 11.5rem;
      }
    }

    &__project-grid {
      top: 2.5rem;
      gap: 0.5rem;
      width: 11.5rem;

      &-box {
        width: 3.5rem;
        height: 3.5rem;
      }
    }

    &__seek-logo {
      top: 2.5rem;
      width: 11.5rem;
    }
  }
}

@media (min-width: $medium-screen-start) and (max-width: $medium-screen-end) {
  .#{$name} {
    &__title {
      margin-bottom: 0.25rem;
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 1.125rem;

      &--2 {
        margin-bottom: 1.25rem;
      }
    }

    &__bar {
      margin-bottom: 1.625rem;
      width: 18rem;
    }

    &__card {
      height: 22.5rem;
    }

    &__card-title {
      padding: 1.875rem 1rem;
      font-size: 1.75rem;
    }

    &__bubble-text {
      padding: 0.375rem 2rem;
      font-size: 2.25rem;
      border-radius: 2rem;
      -webkit-text-stroke: 0.0625rem $black;

      &:nth-child(1) {
        top: 3.5rem;
      }

      &:nth-child(2) {
        top: 7.75rem;
      }

      &:nth-child(3) {
        top: 12.25rem;
      }
    }

    &__dev-screen {
      &-inner {
        top: 3.5rem;
        width: 7.25rem;
        height: 11.75rem;
      }

      &-outer {
        top: 3rem;
        width: 8rem;
        height: 12.75rem;
      }
    }

    &__project-grid {
      top: 3rem;
      gap: 0.5rem;
      width: 13rem;

      &-box {
        width: 4rem;
        height: 4rem;
      }
    }

    &__seek-logo {
      top: 3rem;
      width: 13rem;
    }
  }
}

@media (min-width: $large_screen_start) {
  .#{$name} {
    &__title {
      margin-bottom: 0.25rem;
      font-size: 1.75rem;
    }

    &__subtitle {
      font-size: 1.25rem;

      &--2 {
        margin-bottom: 1.5rem;
      }
    }

    &__bar {
      margin-bottom: 2rem;
      width: 20rem;
    }

    &__card {
      height: 25rem;
    }

    &__card-title {
      padding: 2rem 1rem;
      font-size: 2rem;
    }

    &__bubble-text {
      padding: 0.5rem 2.25rem;
      font-size: 2.5rem;
      border-radius: 2rem;
      -webkit-text-stroke: 0.0625rem $black;

      &:nth-child(1) {
        top: 4rem;
      }

      &:nth-child(2) {
        top: 9rem;
      }

      &:nth-child(3) {
        top: 14rem;
      }
    }

    &__dev-screen {
      &-inner {
        top: 4rem;
        width: 7.75rem;
        height: 13.5rem;
      }

      &-outer {
        top: 3.5rem;
        width: 8.5rem;
        height: 14.5rem;
      }
    }

    &__project-grid {
      top: 3.5rem;
      gap: 0.5rem;
      width: 14.5rem;

      &-box {
        width: 4.5rem;
        height: 4.5rem;
      }
    }

    &__seek-logo {
      top: 3.5rem;
      width: 14.5rem;
    }
  }
}
