@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'ExperiencePage';

.#{$name} {
  width: 100%;

  &__work {
    width: 100%;
    height: 50rem;
  }

  &__tools {
    width: 100%;
    height: 50rem;
  }

  &__projects {
    width: 100%;
    height: 50rem;
    background-image: radial-gradient(91.85% 122.42% at 17.19% 8.15%, $purple 0%, #621dda 32.81%, $purple 100%);
  }
}
