@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'EducationSection';

.#{$name} {
  margin: auto;
  padding: 0 var(--app-vertical-margins);
  color: $white;

  &__title {
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: $purple_l_20;
  }

  &__subtitle {
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: 0.0625rem;
    color: $white;
  }

  &__bar {
    height: 0.0625rem;
    background-color: $white_a_50;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  &__card {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: $dark_gray;
    border-radius: 0.25rem;

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      background: none;

      &:active {
        background: linear-gradient(109.12deg, $purple -1.55%, rgba(100, 13, 251, 0.38) 89.65%);
      }
    }

    &-description {
      font-weight: 300;
      letter-spacing: 0.03125rem;
      color: $white_a_90;
    }
  }

  &__download-button {
    display: block;
    width: fit-content;
  }
}

@media (max-width: $small-screen-end) {
  .#{$name} {
    &__title {
      margin-bottom: 0.25rem;
      font-size: 1.5rem;
    }

    &__subtitle {
      margin-bottom: 1.125rem;
      font-size: 1.125rem;
    }

    &__bar {
      margin-bottom: 1.5rem;
      width: 18rem;
    }

    &__card {
      button {
        gap: 1.5rem;
        padding: 1rem 2rem;
      }

      img {
        width: 100%;
      }

      &-description {
        font-size: 0.875rem;
      }
    }

    &__download-button {
      margin: 1.5rem auto 0 auto;
    }
  }
}

@media (min-width: $medium-screen-start) and (max-width: $medium-screen-end) {
  .#{$name} {
    &__title {
      margin-bottom: 0.25rem;
      font-size: 1.5rem;
    }

    &__subtitle {
      margin-bottom: 1.25rem;
      font-size: 1.125rem;
    }

    &__bar {
      margin-bottom: 1.625rem;
      width: 18rem;
    }

    &__card {
      button {
        gap: 1.75rem;
        padding: 2rem 2.5rem;
      }

      img {
        width: 25rem;
        max-width: 100%;
      }

      &-description {
        font-size: 1.125rem;
      }
    }

    &__download-button {
      margin: 1.625rem auto 0 auto;
    }
  }
}

@media (min-width: $large_screen_start) {
  .#{$name} {
    &__title {
      margin-bottom: 0.25rem;
      font-size: 1.75rem;
    }

    &__subtitle {
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }

    &__bar {
      margin-bottom: 2rem;
      width: 20rem;
    }

    &__card {
      button {
        gap: 1.75rem;
        padding: 2rem 2.5rem;
      }

      img {
        width: 25rem;
        max-width: 100%;
      }

      &-description {
        font-size: 1.125rem;
      }
    }

    &__download-button {
      margin: 2rem auto 0 auto;
    }
  }
}
