@import 'src/scss/colors.scss';

$name: 'LogoBubble';

.#{$name} {
  position: relative;
  width: 8rem;
  cursor: pointer;

  &--s1 {
    width: 6rem;
  }

  &--s2 {
    width: 10rem;
  }

  &--s3 {
    width: 14rem;
  }

  &--s4 {
    width: 18rem;
  }

  &--s5 {
    width: 22rem;
  }

  > svg {
    position: absolute;
    width: 100%;
    transition: opacity 200ms ease-in;

    &:first-child {
      opacity: 1;
    }

    &:last-child {
      opacity: 0;
    }
  }

  &:hover {
    > svg {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 0.75;
      }
    }
  }

  &--active,
  &--active:hover {
    > svg {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }
}
