@import 'src/scss/layout.scss';

$name: 'LineSplit';

.#{$name} {
  width: 100%;

  svg {
    width: 100%;
    stroke: #00ce95;
    stroke-opacity: 0.75;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: $small-screen-end) {
  .#{$name} {
    svg {
      stroke-width: 0.5rem;
    }
  }
}

@media (min-width: $medium-screen-start) {
  .#{$name} {
    svg {
      stroke-width: 0.375rem;
    }
  }
}
