$header-height: 8rem;

/* Small is for Mobile Devices */
/* Medium is for low resolution  Tablets, Ipads */
/* Large is for Tablets Ipads portrait mode */
$small-screen-end: 480px;
$medium-screen-start: $small-screen-end + 1px;
$medium-screen-end: 767px;
$large_screen_start: $medium-screen-end + 1px;
