@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'App';

.#{$name} {
  height: 100%;
  width: 100%;
  min-width: $app-min-width;
  max-width: $app-max-width;
  margin: auto;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__header {
    position: sticky;
    z-index: 1000;
    top: -2rem;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__body {
    flex: 1;
    padding: 2rem $app-vertical-margins 0 $app-vertical-margins;
    min-height: $app-body-min-height;
  }

  &__footer {
    width: 100%;
  }
}
