@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'TimelineSection';

.#{$name} {
  position: relative;
  margin: auto;
  width: 25rem;
  height: 100rem;

  &__line {
    position: absolute;
    top: 11rem;
    left: -6rem;
    width: 25rem;
    stroke: $purple;
  }

  &__ball {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    filter: brightness(90%);

    &--1 {
      top: 10.625rem;
      left: 17rem;
      height: 1rem;
      width: 1rem;
    }

    &--2 {
      top: 32rem;
      left: -5.25rem;
      height: 2.5rem;
      width: 2.5rem;
    }

    &--3 {
      top: 61rem;
      left: -5.25rem;
      height: 4rem;
      width: 4rem;
    }

    &--4 {
      top: 93.5rem;
      left: 10.5rem;
      height: 5.5rem;
      width: 5.5rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
      border: 0.0625rem solid #666;
      border-radius: 50%;
    }
  }

  &__symbol {
    color: $purple;
  }

  &__blurb {
    position: absolute;

    &--1 {
      top: 0rem;
      left: -24rem;
    }

    &--2 {
      top: 34rem;
      left: 14rem;
    }

    &--3 {
      top: 76rem;
      left: -25rem;
    }

    .#{$name} {
      letter-spacing: 0.0625rem;

      &__title {
        margin-bottom: 0.75rem;
        font-size: 1.75rem;
        font-weight: 300;
        color: $turquoise;
      }

      &__message {
        width: 35rem;
        line-height: 1.5;
        letter-spacing: 0.0625rem;
        font-size: 1.125rem;
        font-weight: 300;
        color: $white;
      }
    }
  }

  &__picture {
    position: absolute;
    top: 1rem;
    left: 24rem;

    img {
      margin: auto;
      width: 18rem;
      height: 24rem;
      border-radius: 1rem;
      border: none;
      outline: none;
      object-fit: cover;
      transform: rotate(10deg);

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $purple_l_10;
      }
    }
  }

  &__year {
    position: absolute;
    top: 28rem;
    left: -21rem;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.25rem;
    transform: rotate(-10deg);

    &-front {
      position: absolute;
      top: 0;
      left: 0;
      color: $purple;
    }

    &-back {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      color: $turquoise;
    }

    &-shadow {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%);
    }
  }

  &__image-grid {
    position: absolute;
    top: 45rem;
    left: 14rem;

    .#{$name} {
      &__logo,
      &__color-box {
        width: 9rem;
        height: 9rem;
      }

      &__logo {
        position: absolute;
        top: 10rem;
        left: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
      }

      &__color-box {
        position: absolute;
        border-radius: 1rem;

        &--1 {
          background-color: $turquoise;
          top: 0rem;
          left: 13rem;
        }

        &--2 {
          background-color: $purple;
          top: 20rem;
          left: 26rem;
        }
      }

      &__image {
        position: absolute;
        border-radius: 1rem;
        border: none;
        outline: none;
        object-fit: cover;

        &::before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background: $purple_l_10;
        }

        &--1 {
          top: 0rem;
          left: 0rem;
          width: 12rem;
          height: 19rem;
        }

        &--2 {
          top: 0rem;
          left: 23rem;
          width: 12rem;
          height: 19rem;
        }

        &--3 {
          top: 20rem;
          left: 0rem;
          width: 25rem;
          height: 9rem;
        }
      }
    }
  }
}
