@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'BubblesSection';

.#{$name} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__header {
    position: absolute;
    top: 2rem;
    left: 6rem;
  }

  &__title {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: $purple_l_20;
  }

  &__subtitle {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: 0.0625rem;
    color: $white;

    &--2 {
      margin-bottom: 1.5rem;
    }
  }

  &__bar {
    margin-bottom: 2rem;
    width: 20rem;
    height: 0.0625rem;
    background-color: $white_a_50;
  }

  &__background {
    width: 100%;
    height: 50rem;
    background: linear-gradient(to bottom, #2e0f47, #0e0e0e 100%);
  }

  &__container {
    position: absolute;
    top: -5rem;
    height: 55rem;
    width: 1600px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;

    & > {
      // TypeScript
      :nth-child(1) {
        top: 18rem;
        left: 14.5rem;
      }

      // Angular
      :nth-child(2) {
        top: 11rem;
        left: 25rem;
      }

      // CSS
      :nth-child(3) {
        top: 6rem;
        left: 34rem;
      }

      // GraphQL
      :nth-child(4) {
        top: 20rem;
        left: 52.5rem;
      }

      // HTML
      :nth-child(5) {
        top: 3rem;
        left: 62rem;
      }

      // Jest
      :nth-child(6) {
        top: 42rem;
        left: 20rem;
      }

      // JavaScript
      :nth-child(7) {
        top: 23rem;
        left: 27rem;
      }

      // Vue
      :nth-child(8) {
        top: 31rem;
        left: 50rem;
      }

      // Git
      :nth-child(9) {
        top: 28rem;
        left: 69rem;
      }

      // Jira
      :nth-child(10) {
        top: 15rem;
        left: 2.5rem;
      }

      // React
      :nth-child(11) {
        top: 28rem;
        left: 0.5rem;
      }

      // Java
      :nth-child(12) {
        top: 13rem;
        left: 87.5rem;
      }

      // Sass
      :nth-child(13) {
        top: 31.5rem;
        left: 83.5rem;
      }

      // Vite
      :nth-child(14) {
        top: 7rem;
        left: 53rem;
      }

      // Webpack
      :nth-child(15) {
        top: 42rem;
        left: 73.5rem;
      }

      // NPM
      :nth-child(16) {
        top: 23rem;
        left: 81rem;
      }
    }
  }
}
