@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'DevPractice';

.#{$name} {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  background-color: $dark_gray;

  &:active {
    background: linear-gradient(109.12deg, #640dfb -1.55%, rgba(100, 13, 251, 0.38) 89.65%);
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tech-name {
    line-height: 1.25;
    letter-spacing: 0.03125rem;
    font-weight: 300;
    color: $white_a_90;
  }
}

@media (max-width: $small-screen-end) {
  .#{$name} {
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    padding: 0 0.5rem;
    height: 5.5rem;
    width: calc(50% - 0.5rem);

    &__image {
      img {
        height: 2rem;
        width: 2rem;
      }
    }

    &__tech-name {
      max-width: 100%;
      font-size: 0.875rem;
      white-space: nowrap;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media (min-width: $medium-screen-start) and (max-width: $medium-screen-end) {
  .#{$name} {
    flex-direction: row;
    justify-content: left;
    gap: 1.75rem;
    padding: 0 1.5rem;
    height: 5rem;
    width: calc(50% - 0.5rem);

    &__image {
      img {
        height: 2.25rem;
        width: 2.25rem;
      }
    }

    &__tech-name {
      font-size: 1rem;
      text-align: left;
    }
  }
}

@media (min-width: $large_screen_start) {
  .#{$name} {
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
    padding: 0 1.5rem;
    height: 5rem;
    width: calc(33.3% - 0.666rem);

    &__image {
      img {
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    &__tech-name {
      font-size: 1rem;
      text-align: left;
    }
  }
}
