@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'Dialog';

.#{$name} {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 100vh;
  border-radius: 0.25rem;
  background-color: $dark_gray;
  overflow: hidden;

  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(107, 114, 128, 0.5);
  }

  &__close {
    position: absolute;

    svg {
      fill: $white_a_75;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__title {
    font-weight: 300;
    color: $white_a_90;
    letter-spacing: 0.0625rem;
  }

  &__body {
    padding: 1rem 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: $small-screen-end) {
  .#{$name} {
    padding: 2rem 1.5rem;
    width: 90%;
    min-width: 22rem;

    &__close {
      top: 0.75rem;
      right: 0.75rem;
      width: 0.625rem;
    }

    &__title {
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }

    &__footer {
      gap: 1.5rem;
      padding-top: 1.5rem;
    }
  }
}

@media (min-width: $medium-screen-start) and (max-width: $medium-screen-end) {
  .#{$name} {
    padding: 2rem 3rem;
    width: 87.5%;
    min-width: 30rem;

    &__close {
      top: 0.75rem;
      right: 0.75rem;
      width: 0.625rem;
    }

    &__title {
      padding-bottom: 1.5rem;
      font-size: 1.75rem;
    }

    &__footer {
      gap: 1.5rem;
      padding-top: 2rem;
    }
  }
}

@media (min-width: $large_screen_start) {
  .#{$name} {
    padding: 2.5rem 4rem;
    width: 75%;
    min-width: 40rem;

    &__close {
      top: 1.25rem;
      right: 1.25rem;
      width: 0.75rem;
    }

    &__title {
      padding-bottom: 2rem;
      font-size: 2rem;
    }

    &__footer {
      gap: 1.5rem;
      padding-top: 2rem;
    }
  }
}
