@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'ContactPage';

.#{$name} {
  width: 100%;

  &__line-split {
    padding-top: 3rem;
  }

  &__options {
    padding-top: 3rem;
  }

  &__form {
    padding-top: 5rem;
  }

  &__socials {
    padding-top: 5rem;
  }

  &__globe {
    padding: 5rem 0 5rem 0;
    width: 100%;
  }
}
