@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'ExperienceSection';

.#{$name} {
  box-sizing: border-box;
  padding: 6rem $app-vertical-margins;
  width: 100%;
  height: 100%;

  &__title {
    margin-bottom: 0.75rem;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.0625rem;
    color: $purple_l_20;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.375rem;
    letter-spacing: 0.0625rem;
    color: $white;

    &--2 {
      margin-bottom: 1.5rem;
    }
  }

  &__bar {
    margin-bottom: 2rem;
    height: 1px;
    width: 20rem;
    background-color: $white;
    opacity: 0.9;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 30rem;
  }

  &__card {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 25rem;
    background: $purple;
    background-image: radial-gradient(137.98% 137.98% at 24.23% 20.46%, $purple 16.15%, #49deff 100%);
    transition: 200ms ease-out;

    &:hover {
      background-image: unset;
      transform: scale(1.15);
      margin: 1.75rem;
    }
  }

  &__card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2rem 1rem;
    white-space: nowrap;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 300;
    letter-spacing: 0.03125rem;
    color: $white;
  }

  &__bubble-text {
    position: absolute;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    width: fit-content;
    line-height: 1;
    font-size: 2.5rem;
    background: $white;
    border-radius: 2rem;
    -webkit-text-stroke: 1px $black;
    color: white;
    font-weight: 600;

    &:nth-child(1) {
      top: 3rem;
      left: 20%;
    }

    &:nth-child(2) {
      top: 8rem;
      left: 50%;
    }

    &:nth-child(3) {
      top: 13rem;
      left: 30%;
    }
  }

  &__dev-screen {
    &-inner {
      position: absolute;
      top: 4rem;
      width: 7.75rem;
      height: 14rem;
      background: radial-gradient(
        115.98% 115.98% at -37.96% -29%,
        $purple 0%,
        rgba(223, 211, 244, 0.728125) 30.21%,
        rgba(255, 255, 255, 0.1) 100%
      );
      border-radius: 0.75rem;
    }

    &-outer {
      position: absolute;
      top: 3.5rem;

      width: 8.5rem;
      height: 15rem;

      background: radial-gradient(
        115.98% 115.98% at -37.96% -29%,
        $purple 0%,
        rgba(223, 211, 244, 0.728125) 30.21%,
        rgba(255, 255, 255, 0.1) 100%
      );
      border-radius: 0.75rem;
    }
  }

  &__project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 14.5rem;
    margin-bottom: 3rem;
  }

  &__project-grid-box {
    width: 4.5rem;
    height: 4.5rem;
    background: radial-gradient(
      115.98% 115.98% at -37.96% -29%,
      $purple 0%,
      rgba(223, 211, 244, 0.728125) 30.21%,
      rgba(255, 255, 255, 0.1) 100%
    );
    border-radius: 0.75rem;
  }

  &__seek-logo {
    margin-bottom: 3rem;
    width: 13rem;
    opacity: 1;
  }
}
