@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'HomePage';

.#{$name} {
  width: 100%;

  &__about {
    height: 40rem;
  }

  &__bubbles {
    width: 100%;
    height: 45rem;
    background: linear-gradient(to bottom, #270d3c, #0e0e0e 82.4%);
  }

  &__experience {
    width: 100%;
    height: 50rem;
  }

  &__contact {
    width: 100%;
    height: 30rem;
    background: radial-gradient(68% 68% at 88.65% 118.16%, $purple 0%, rgba(100, 13, 251, 0.13) 100%);
  }

  &__globe {
    width: 100%;
    height: 60rem;
  }
}
