@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'HomePage';

.#{$name} {
  width: 100%;

  &__about {
    width: 100%;
  }

  &__bubbles {
    width: 100%;
  }

  &__experience {
    width: 100%;
  }

  &__contact {
    width: 100%;
  }

  &__globe {
    width: 100%;
  }
}
