@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'AboutPage';

.#{$name} {
  width: 100%;

  &__line-split {
    padding: 4rem 0;
  }

  &__collage {
    padding-bottom: 5rem;
  }

  &__timeline {
    padding-bottom: 2rem;
  }

  &__gallery {
    padding-bottom: 5rem;
  }
}
