@import 'src/scss/vars/colors.scss';

$name: 'NotFoundPage';

.#{$name} {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 4rem;
  color: $white;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    font-size: 6rem;
    font-weight: 700;
    background-color: $purple;
    border-radius: 50%;
  }

  &__description {
    font-size: 5rem;
  }
}
