@import 'src/scss/vars/colors.scss';

$name: 'HomeGlobeScene';

.#{$name} {
  &__marker {
    width: 1rem;
    pointer-events: auto;
    cursor: pointer;

    svg {
      fill: $purple_l_20;
    }
  }
}
