@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'GlobeSection';

.#{$name} {
  position: relative;
  box-sizing: border-box;
  padding: 5rem $app-vertical-margins;
  width: 100%;
  height: 100%;

  &__title {
    margin-bottom: 0.75rem;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.0625rem;
    color: $purple_l_20;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 1.375rem;
    letter-spacing: 0.0625rem;
    color: $white;

    &--2 {
      margin-bottom: 1.5rem;
    }
  }

  &__bar {
    margin-bottom: 2rem;
    height: 1px;
    width: 20rem;
    background-color: $white;
    opacity: 0.9;
  }

  &__globe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;

    canvas {
      cursor: grab;
    }
  }
}
