@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'WorkSection';

.#{$name} {
  margin: auto;
  padding: 0 0 10rem 0;
  width: 80rem;
  color: $white;

  &__title {
    margin-bottom: 0.25rem;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: $purple_l_20;
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: 0.0625rem;
    color: $white;
  }

  &__bar {
    margin-bottom: 2.5rem;
    height: 0.0625rem;
    width: 20rem;
    background-color: $white;
    opacity: 0.9;
  }

  &__download-button {
    margin: 0 0 1.5rem auto;
    display: block;
    width: fit-content;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__panel-button {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 15rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.0625rem;
    opacity: 0.8;
    cursor: pointer;

    & > :first-child {
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      outline: 0.0625rem solid $white_a_75;
      outline-offset: 0.125rem;
      background-color: transparent;
      transition: 200ms ease-out;
    }

    & > :last-child {
      transition: 200ms ease-out;
    }

    &:hover {
      opacity: 0.9;

      & > :first-child {
        outline-color: $purple_l_10;
        background-color: $purple_l_10;
      }

      & > :last-child {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }

    &--active,
    &--active:hover {
      opacity: 1;

      & > :first-child {
        outline-color: $purple;
        background-color: $purple;
      }

      & > :last-child {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }

  &__panel {
    position: relative;
    flex: 1;
    box-sizing: border-box;
    padding: 2rem 5rem;
    height: 32rem;
    background-color: $dark_gray;

    &::before {
      position: absolute;
      bottom: -3rem;
      left: -3rem;
      content: '';
      width: 6rem;
      height: 6rem;
      transform: rotate(45deg);
      background-color: $black;
    }
  }

  &__panel-date {
    margin-bottom: 0.5rem;
    color: $turquoise;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    opacity: 0.9;
  }

  a.#{$name}__panel-title {
    display: inline-block;
    margin-bottom: 1rem;
    color: $purple;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      text-decoration-thickness: 0.25rem;
    }
  }

  &__panel-positon,
  &__panel-bullet {
    margin-bottom: 1rem;
    color: $white_a_90;
    font-weight: 300;
    letter-spacing: 0.0625rem;
  }

  &__panel-positon {
    font-size: 1.25rem;
  }

  &__panel-bullets {
    margin: 0;
    padding-inline-start: 2rem;
  }

  &__panel-bullet {
    font-size: 1rem;
    line-height: 1.375rem;

    &::marker {
      font-size: 0.75em;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
