@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'NotFoundPage';

.#{$name} {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6rem $app-vertical-margins 10rem $app-vertical-margins;
  height: 100%;
  color: $white;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: $purple;
    border-radius: 50%;
  }
}

@media (max-width: $small_screen_end) {
  .#{$name} {
    gap: 1rem;
    padding: 4rem $app-vertical-margins;

    &__icon {
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
    }

    &__description {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: $medium_screen_start) and (max-width: $medium_screen_end) {
  .#{$name} {
    gap: 1.5rem;
    padding: 5rem $app-vertical-margins;

    &__icon {
      width: 2.75rem;
      height: 2.75rem;
      font-size: 2.25rem;
    }

    &__description {
      font-size: 2rem;
    }
  }
}

@media (min-width: $large_screen_start) {
  .#{$name} {
    gap: 2rem;
    padding: 6rem $app-vertical-margins;

    &__icon {
      width: 4rem;
      height: 4rem;
      font-size: 3.25rem;
    }

    &__description {
      font-size: 3rem;
    }
  }
}
