@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'PageHeader';

.#{$name} {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--app-vertical-margins);
  text-align: center;
  color: $white;

  &--pos {
    &-1 {
      svg {
        &:nth-child(1) {
          left: -3rem;
          top: 0rem;
        }

        &:nth-child(2) {
          right: -3rem;
          top: 3rem;
        }
      }
    }

    &-2 {
      svg {
        &:nth-child(1) {
          left: -3rem;
          top: 3rem;
        }

        &:nth-child(2) {
          right: -3rem;
          top: 0rem;
        }
      }
    }
  }

  &__title {
    position: relative;
    display: inline-block;
    margin: auto;
    font-weight: 300;
    font-style: italic;
  }

  &__subtitle {
    margin: auto;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.0625rem;
    color: $white_a_90;
  }

  &__description {
    margin: auto;
    max-width: 22rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.375;
    letter-spacing: 0.0625rem;
    color: $white_a_90;
  }

  svg {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    fill: $purple;
  }
}

@media (max-width: $small-screen-end) {
  .#{$name} {
    &__title {
      font-size: 2.5rem;
    }
  }
}

@media (min-width: $medium-screen-start) and (max-width: $medium-screen-end) {
  .#{$name} {
    &__title {
      font-size: 2.75rem;
    }
  }
}

@media (min-width: $large_screen_start) {
  .#{$name} {
    &__title {
      font-size: 3rem;
    }
  }
}
