@import 'src/scss/vars/colors.scss';
@import 'src/scss/vars/layout.scss';

$name: 'AboutPage';

.#{$name} {
  width: 100%;

  &__line-split {
    padding-top: 3rem;
  }

  &__collage {
    padding-top: 3rem;
  }

  &__timeline {
    padding-top: 3rem;
  }

  &__gallery {
    padding: 2rem 0 var(--app-vertical-margins) 0;
  }
}
