@import 'src/scss/colors.scss';
@import 'src/scss/layout.scss';

$name: 'ContactGlobeSection';

.#{$name} {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 1040px;
  height: 100%;

  &__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.03125rem;
    font-weight: 300;
    color: $turquoise;
    opacity: 0.9;
  }

  &__symbol {
    color: $purple;
    font-weight: 400;
    margin-left: 0.25rem;
  }

  &__subtitle {
    max-width: 25rem;
    font-size: 1rem;
    line-height: 1.375;
    letter-spacing: 0.03125rem;
    font-weight: 300;
    color: $white;
    opacity: 0.9;
  }

  &__globe {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;

    canvas {
      cursor: grab;
    }
  }
}
